* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #757575;
}

.container {
    width: 18em;
}

.container section {
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    background-color: rgb(15, 16, 54);
}

.inputContainer input {
    height: 3em;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    border: none;
    text-align: center;
    background-color: rgb(15, 16, 54);
    color: white;
}

.inputContainer input:focus {
    outline: none;
}

.outputContainer {
    background-color: white;
    word-break: break-all;
}

.outputContainer span {
    font-size: 2em;
    font-weight: bold;
    color: rgb(16, 18, 64);
    padding: 1em;
}